<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>faceTune</title>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.min.js"
    ></script>
    <link rel="stylesheet" href="./style/output.css" />
  </head>
  <body class="bg-blue-100">
    <video
      src=""
      autoplay
      id="video"
      class="w-[300px] h-[300px] m-auto rounded-full"
    ></video>

    <script src="./script/script.js"></script>
  </body>
</html>
